# UltraVM Phoenix Tunnel - phx tunnel
# Managed by /opt/phoenix-tunnel/setup.py
[Interface]
Address = $addresses
ListenPort = $listen_port
PrivateKey = $private_key
MTU = $mtu
SaveConfig = false

$peers
